body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.message-info {
  color: green;
  background: lightgrey;
  font-size: 18px;
  border-style: solid;
  border-radius: 6px;
  padding: 12px;
  margin-bottom: 8px;
}

.message-error {
  color: red;
  background: lightgrey;
  font-size: 18px;
  border-style: solid;
  border-radius: 6px;
  padding: 12px;
  margin-bottom: 8px;
}